<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="print.css" media="print">
        <title>Register</title>
    </head>
    <body>
        <div class = "register d-flex justify-content-center align-items-center;">
            <h2>Formulir Registrasi</h2>  
                <form method="POST">  
                    {% csrf_token %}  
                    <table align="center" style="padding-top:0px;">  
                        {{ form.as_table }}  
                    </table> 
                </div>
                <div class="rapper">
                    <input class="btn register_btn" type="submit" value="Daftar"><a href="{% url 'wishlist:login' %}"></a> 
                </div>
                </form>
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        </div>  
    </body>
</html> 

<style>
    body {
        background-color: #bfdbd2;
    }
    body h2 {
        text-align: center;
    }
    .register {
        text-align: left;
        margin: auto;
        padding-top: auto;
    }
    input {
        text-align: left;
    }
    .rapper {
        text-align:center;
    }
</style>